*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul{list-style: none;}
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  body{
    font-family: 'Pretendard', 'Chronicle Display';
    color: #333;
  }
  
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
  
  
  /*header*/
  header{
    width: 100%;
    min-width: 1600px;
    height: 200px;
    background-color: #f5f5f5;
    position: relative;
    margin: auto;
    z-index: 9;
  }
  
  header h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 450px;
  }
  
  .top-menu{
    position: absolute;
    top: 80px;
    right: 350px;
  }
  
  .top-menu li{
    float: left;
    margin-right: 20px;
    font-size: 15px;
  }
  
  /*gnb*/
  .gnb{
    float: right;
    margin-top: 150px;
    margin-right: 30%;
    line-height: 20px;
  }
  
  .gnb > li{
    float: left;
    width: 120px;
    text-align: center;
    position: relative;
  }
  
  .gnb > li a{
    padding: 5px 0px;
    transition: all 0.5s;
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
  }
  
  .gnb > li a:hover{
    color: #1465a3;
    transition: ease 1s;
  }
  
  .sub{
    position: absolute;
    width: 100%;
    z-index: 99;
    display: none;
  }
  /*header END*/

  /*wrap*/
  .wrap{
    width: 1180px;
    height: 830px;
    margin: 40px auto;
    border: 3px solid #5b627c;
    margin-top: 100px;
  }

  h2{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #d4d8d9;
    width: 100px;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0px;
    letter-spacing: 3px;
  }

  .required{ /*필수입력사항*/
    text-align: right;
    margin-right: 10px;
  }


  /*tbody*/
  tbody{
    width: 1180px;
  }

  table{
    padding: 10px 0px 0px 30px;
  }

  table > tr{
    border-top: 1px solid #dfdfdf;
  }

  table th{
    padding: 14px 0 13px 18px;
    /* border-top: 1px solid #dfdfdf; */
    width: 50px;
    border-bottom-width: 0;
    text-align: left;
  }

  table td{
    /* border-top: 1px solid #dfdfdf; */
    color: #353535;
    vertical-align: middle;
  }

  th, td{
    border: 0;
    vertical-align: top;
  }

  input[type=text],
  input[type=password],
  select{
    height: 30px;
    line-height: 20px;
    padding: 2px 4px;
    border: 1px solid #d5d5d5;
    color: #353535;
    font-size: 12px;
  }

  .idBtn,
  .postBtn{
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #222;
    background-color: #fff;
    transition: all 0.2s;
  }

  .addr1,
  .addr2{
    width: 280px;
    margin: 5px 0px 0px;
    vertical-align: middle;
  }

  .postBtn{
    vertical-align: middle;
  }

  .email1{
    width: 170px;
  }

  /*bottom-button*/
  .bottom-button{
    text-align: center;
    margin-top: 50px;
    /* padding: 10px 0px;
    margin: 50px 0;
    text-align: center; */
  }

  .bottom-button > a{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* padding: 15px 50px; */
  }

  .bottom-button > .join{
    width: 272px;
    height: 56px;
    border: 1px solid #5b627c;
    background-color: #5b627c;
    color: #fff;
    cursor: pointer;
    padding: 15px 50px;
    /* margin: 0px 0px 0px 1px;
    clear: both;
    background: #5b627c;
    border: 1px solid #d4d8d9;
    color: #fff;
    letter-spacing: 0px;
    padding: 10px 60px;
    text-align: right;
    font-size: 11px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer; */
  }

  .bottom-button > .cancel{
    width: 272px;
    height: 56px;
    border: 1px solid #d4d8d9;
    background-color: #fff;
    cursor: pointer;
    /* margin: 0px 0px 0px 1px;
    clear: both;
    background: #fff;
    border: 1px solid #d4d8d9;
    color: #5b627c;
    letter-spacing: 0px;
    padding: 10px 50px;
    text-align: right;
    font-size: 11px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer; */
  }